NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=adducampusguide.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=adducampusguide
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=adducampusguide.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=917419437659
NEXT_PUBLIC_FIREBASE_APP_ID=1:917419437659:web:64a21607d5d20deb7e197e
